
$layout-cell: "cell";

@mixin clearfix{
  zoom: 1;
  &:before, &.before{
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }
}

@mixin layout-base{
    list-style: none !important;
    border: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    margin: 0 !important;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.layout-base{
  @include layout-base;
}

.layout-base-cell{
  @extend .layout-base;
}

.clearfix{
  @include clearfix;
}

@mixin inline-layout($cell: $layout-cell, $text-align: left){
  &, & > .#{$cell}{
    @extend .layout-base;
  }

  & > .#{$cell}{
        display: inline-block;
        *display: inline; /* IE < 8: fake inline-block */
        zoom: 1;
        vertical-align: top;
  }

  &.center{
    text-align: center;
  }

  &.center > .#{$cell}{
    text-align: $text-align;
  }
}

@mixin flow-layout($cell: $layout-cell){
  @extend .layout-base;
  overflow: hidden;

  & > .#{$cell}{
    @extend .layout-base;
    float: left;
  }

  &.right > .#{$cell}{
    float: right;
  }

}

@mixin table-layout($cell: $layout-cell, $row: row){
  display: table;

  & > .#{$row} > .#{$cell}, & > .#{$cell} {
    @extend .layout-base;
    display: table-cell;
  }

  & > .#{row}{
    display: table-row;
  }

}

@mixin box-layout($cell: $layout-cell){
  @extend .layout-base, .clearfix;

  & > .#{$cell}{
    @extend .layout-base;
  }

  & > .#{$cell}.right{
    float: right;
  }

  & > .#{$cell}.left{
    float: left;
  }

  & > .#{$cell}.center{
    float: none;
    display: block;
    margin-left: auto!important;
    margin-right: auto!important;
  }

}

.clamp-line{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box{
  @include box-layout(cell);
}

.box-flow{
  @include flow-layout(cell);
}

.box-inline{
  @include inline-layout(cell, left)
}

.box-table{
  @include table-layout(cell, row);
}