<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            
        <title>{%block title%} {{title or ""}} {%endblock %}</title>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	<link href="{{STATIC_URL}}img/favicon.ico" rel="shortcut icon">
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" >

    </head>
    <body>
        {%include "header.html" %}
        
        {%block site_content %}

        {%endblock%}
            
	<script type="text/javascript">
		var STATIC_URL = "{{STATIC_URL}}";
		var MEDIA_URL = "{{MEDIA_URL}}";
	</script>
	
	{%include "footer.html" %}
	
	{%include "requirejs.html"%}
    </body>
</html>