{% extends "registration/base.html" %}
{% block title %}Reset password{% endblock %}
{%block registration_content%}
		<p>
			Forgot your password?  Enter your email
			in the form below and we'll send you
			instructions for creating a new one.
		</p>

		<form method='post' >
			{% csrf_token %}
			<div >
				<div>
					<label for="id_email">E-mail</label>
				</div>
				{%if form.email.errors %}
					{{form.email.errors}}
				{%endif %}
				<div >
					<input type="text" maxlength="75" name="email" id="id_email" size="24" style="margin-right: 10px;">
					<input type='submit' value="Send reset link" class="btn btn-primary" style="color:white"/>
				</div>
			</div>

		</form>

{% endblock %}
