{%if not request.is_ajax() %}
    {%extends "dashboard/base.html" %}
{%endif %}

{% block title %}Change password{% endblock %}

{%block dashboard_content%}
            <form class=" form-horizontal hbForm" method="post" action="{%url password_change%}">
                {%csrf_token%}                        
                {{ erotq_form_slice(form=form) }}
                <div class="form-actions">                
                   <input type="submit" id="submit-id-submit" class="btn btn-primary" value="Submit" name="submit" />
                 </div>                                                
            </form>
{% endblock %}
